@tailwind base;
@tailwind components;
@tailwind utilities;

.inputShadow {
    box-shadow: 0px 0px 5px 3px rgb(216, 214, 214);
}

.mainBoxShadow {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.allAirportDropDown {
    box-shadow: 0px 0px 10px black;
}

.radio1 {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1em;
    height: 1em;
    border: 2px solid #0066ff;
    /* Border color to match primary color */
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.radio1:before {
    content: '';
    width: 0.6em;
    height: 0.6em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 30%, 80% 0%, 43% 62%);
    background-color: transparent;
    transform: scale(0);
    transition: transform 0.2s ease;
    display: block;
}

.radio1:checked {
    background-color: #0066ff;
    /* Custom background color when checked */
    border-color: #0066ff;
}

.radio1:checked:before {
    transform: scale(1);
    background-color: white;
    /* Tick color */
}

.inputStyle {
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.11);

}

/* Your global CSS file or Tailwind customizations */
.react-tel-input .form-control {
    border-radius: 0.5rem !important;
    border-color: #d1d5db !important;
    /* Tailwind's gray-300 */
    padding-left: 55px !important;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.11);
    width: 100% !important;
    height: 48px !important;
}

.react-tel-input .flag-dropdown {
    border-radius: 0.5rem 0 0 0.5rem !important;
    padding: 5px !important;
    border-color: #d1d5db !important;
}

.userDashboard {
    color: #A6A6A6;
}

.userDashboard .active {
    color: #0066ff
}

.inputWithSearchIcon:focus .searchfieldIcon {
    visibility: hidden;
}